<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@Description"/>
    <meta name="author" content="@Properties["project-author"]"/>

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", { packages: ["corechart", "annotationchart", "calendar", "gauge", "geochart", "map", "sankey", "table", "timeline", "treemap"] })
    </script>

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fslab.org"><img height="16" width="16" src="http://fslab.org/img/thumbs/fslab.png" /> FsLab</a></li>
          <li><a href="http://fsharp.github.io/FSharp.Data"><img height="16" width="16" src="http://fslab.org/img/thumbs/fsharpdata.png" /> F# Data</a></li>
          <li><a href="http://bluemountaincapital.github.io/Deedle"><img height="16" width="16" src="http://fslab.org/img/thumbs/deedle.png" /> Deedle</a></li>
          <li><a href="http://bluemountaincapital.github.io/FSharpRProvider"><img height="16" width="16" src="http://fslab.org/img/thumbs/rprovider.png" /> R Provider</a></li>
          <li><a href="http://numerics.mathdotnet.com/"><img height="16" width="16" src="http://fslab.org/img/thumbs/mathnet.png" /> Math.NET</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <img src="@Root/img/logo.png" alt="F# Project" style="width:130px;margin:20px" />  
          <ul class="nav nav-list" id="menu" style="margin-top: 20px;">
            <li class="nav-header">@Properties["project-name"]</li>
            <li><a href="@Root/index.html">Home page</a></li>
            <li class="divider"></li>
            <li><a href="http://www.nuget.org/packages?q=XPlot">Get Library via NuGet</a></li>
            <li><a href="@Properties["project-github"]">Source Code on GitHub</a></li>
            <li><a href="@Root/license.html">License (Apache 2.0)</a></li>
            <li><a href="@Root/release-notes.html">Release Notes</a></li>
            
            <li class="nav-header"><a href="@Root/google-charts.html">Google Charts</a></li>
              <li><a href="@Root/chart/google-annotation-chart.html">Annotation</a></li>
              <li><a href="@Root/chart/google-area-chart.html">Area</a></li>
              <li><a href="@Root/chart/google-bar-chart.html">Bar</a></li>
              <li><a href="@Root/chart/google-bubble-chart.html">Bubble</a></li>
              <li><a href="@Root/chart/google-calendar-chart.html">Calendar</a></li>
              <li><a href="@Root/chart/google-candlestick-chart.html">Candlestick</a></li>
              <li><a href="@Root/chart/google-column-chart.html">Column</a></li>
              <li><a href="@Root/chart/google-combo-chart.html">Combo</a></li>
              <li><a href="@Root/chart/google-gauge-chart.html">Gauge</a></li>
              <li><a href="@Root/chart/google-geo-chart.html">Geo</a></li>
              <li><a href="@Root/chart/google-histogram-chart.html">Histogram</a></li>
              <li><a href="@Root/chart/google-line-chart.html">Line</a></li>
              <li><a href="@Root/chart/google-map-chart.html">Map</a></li>
              <li><a href="@Root/chart/google-pie-chart.html">Pie</a></li>
              <li><a href="@Root/chart/google-sankey-diagram.html">Sankey</a></li>
              <li><a href="@Root/chart/google-scatter-chart.html">Scatter</a></li>
              <li><a href="@Root/chart/google-stepped-area-chart.html">Stepped Area</a></li>
              <li><a href="@Root/chart/google-timeline-chart.html">Timeline</a></li>
              <li><a href="@Root/chart/google-table-chart.html">Table</a></li>
              <li><a href="@Root/chart/google-treemap-chart.html">Treemap</a></li>

            @*<li><a href="@Root/google/points-lines.html">Points and lines</a></li>
            <li><a href="@Root/google/geo.html">Geo charts</a></li>*@

            <li class="nav-header">Plotly Charts</li>
            <li>Coming soon</li>

            <li class="nav-header">Documentation</li>
            <li><a href="@Root/reference/index.html">API Reference</a></li>
            <li class="divider"></li>

            <li><a href="@Root/reference/xplot-googlecharts-chart.html">Google Chart type</a></li>
            <li><a href="@Root/reference/xplot-googlecharts-configuration-options.html">Google Option type</a></li>
            <li><a href="@Root/reference/xplot-googlecharts-configuration.html">Google configuration module</a></li>

            <li class="divider"></li>

            <li><a href="@Root/reference/xplot-plotly-graph.html">Plotly Graph module</a></li>
            <li><a href="@Root/reference/xplot-plotly-graph-layout.html">Plotly Layout type</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"/></a>
  </body>
  </html>
